body {
    font-family: sans-serif;
    margin: 0;
    /* padding: 0; */
}

header {
    display: flex;
    font-size: 1.2rem;
    letter-spacing: .1em;
    height: 80px;
    color: white;
    justify-content: center;
    align-items: center;
    background: rgb(47,61,100);
    background: linear-gradient(90deg, rgba(47,61,100,1) 0%, rgba(62,63,119,1) 21%, rgba(38,120,171,1) 74%, rgba(51,153,230,1) 100%);
    grid-area: header;
}
.container {
    margin: 0 15px;
    display: grid;
    height: 80vh;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.3fr  0.5fr 0.2fr 0.5fr;
    grid-template-areas: "header header header header header header"
    "sidebar main main main main main"
    "sidebar forecast forecast forecast forecast forecast"
    "sidebar content1 content2 content3 content4 content5";
    grid-gap: 1rem;
}

main {
    border: 1px solid slategray;
    grid-area: main;
    padding-left: 15px;
}
span {
    background-color: green;
    color: white;
    border-radius: 2px;
    padding: 3px 12px;
}

#sidebar {
    grid-area: sidebar;
    /* position: absolute; */
}

#forecast-title {
    grid-area: forecast;
    font-size: 20px;
    position: relative;
    top: 20px;
    padding-left: 15px;
} 

#forecast {
    background-color: rgb(47, 61, 100);
    color: white;
    font-size: 16px;
    font-weight: 600;
    padding-left: 15px;
}
.date {
    font-size: 1.3rem;
    margin-top: 10px;
}

h2 {
    font-size: 1.7rem;
}

.content1 {
    grid-area: content1;

}

.content2 {
    grid-area: content2;
}

.content3 {
    grid-area: content3;
}

.content4 {
    grid-area: content4;
}

.content5 {
    grid-area: content5;
}

@media (max-width: 1024px) {
    .container {
        height: 100vh;
        grid-template-columns: 1fr 1fr 1fr ;
        grid-template-rows: 0.3fr  .5fr 0.2fr 0.4fr 0.4fr .4fr;
        grid-template-areas: "header header header"
        "sidebar main main"
        "sidebar forecast forecast"
        "sidebar content1 content3"
        "sidebar content2 content4"
        "sidebar content5 content5";
    }
    header {
        font-size: 1rem;
    }
    h2 {
        font-size: 1.5rem;
    }
}

@media (max-width: 600px) {  
    .container {
        margin: 0;
        height: 100vh;
        grid-gap: .2rem;
        grid-template-columns: 1fr;
        grid-template-rows: .3fr .5fr .8fr .2fr .5fr .5fr .5fr .5fr .5fr;
        grid-template-areas: 
        "header" 
        "sidebar" 
        "main" 
        "forecast" 
        "content1"
        "content2"
        "content3"
        "content4"
        "content5"
    }
    header {
        font-size: .9rem;
    }
}
    

