body {
  box-sizing: border-box;
  margin: 0;
}

header {
  background-image: linear-gradient(
    to right,
    rgb(49, 49, 110),
    rgb(112, 112, 201)
  );
}

.navbar-brand {
  font-size: 40px;
  padding: 0px;
  color: white;
}

#forecast {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 400px;
}

/* .card-body {
  background-color: greenyellow;
} */

.yellowBtn {
  background-color: rgb(255, 255, 0);
}

.orangeBtn {
  background-color: rgb(255, 165, 0);
}

.violetBtn {
  background-color: rgb(224, 44, 224);
}

#historylist li:hover {
  font-weight: bold;
}

@media (max-width: 1024px) {
  #forecast {
    display: block;
    flex-wrap: nowrap;
    max-width: 400px;
  }
}
